@font-face {
	font-family: human;
	src: url(Humans/tt0290m_.ttf);
	font-weight: bold;
}
body{
	font-family: 'human';
	font-weight: bold;
}
html, body{
	height: 100%;
}
body{
	margin: 0;
	padding:0;
	background-size: cover;
	background-repeat: no-repeat;

	display: flex;
	flex-direction: column;
	align-items: center;

	position: relative;
	height: 100%;
}
.link-cont{
	text-decoration: none !important;
	cursor:pointer !important;
	color:rgb(136, 132, 132);
}
.make-home{
	padding-bottom: 5px; 
	padding-top: 5px; 
	width: 50% !important;
	left: 50.5%;
}
#home{
	height: 100%
}
.container{
	min-width: 100% !important;
	min-height: 100%;
	height:100% !important;
	width: 100vw !important;
}
.row{
	margin-right: 0 !important;
}
.text{
	font-size:1.5rem;
	color: #d2d3d3 !important;
}
/* NAVBAR */
.menu-item a{
	color:rgb(90, 90, 90) !important !important;
}
.marg{
	margin-right: 5% !important;
	top:5%;
}
nav{
	/*height: 125px !important;*/
	background-color: white !important; 
	color:black;
	position: fixed !important;
    left:0px !important;
}
nav ul a{
	color:black !important;
}
p{
	width: 100%;
}
#logo{
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 120px;
	height: 40px;
	margin-top:5px !important;
	transform: translate(0, 20%); 
}
.logos-link-ubic{
	text-decoration: none;
	color:rgb(136, 132, 132);
	font-size: 13px;
	position: absolute;
	width: 270px;
	height: 38px;
	left: 17%;
	z-index: 1;
}
.logos-link:hover{
	cursor: pointer;
}
.container-nav{
	width: 100% !important;
}
.row-info{
	background-color:#383434;
	height: 60px !important;
	margin-bottom:0!important;
	font-size: 13px;
	-webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    overflow: hidden;
    top:0;
    width: 100%;
}
.nav-up{
	top:-60px !important;
	position: fixed;
	-webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    margin:0;
}
.nav-down{
	margin:0 !important;
}
.nav-hide{
	height: 65px !important;

}
.brand-logo{
	margin-left: 108px;
}
/* NAVBAR END */
/* Carousel */
.car{
	position: relative; 
}
.make-home-div{
	position: relative;
	bottom: 50%;
}
.carousel-test > .div-img-large{
	padding-top:65px; 
	min-height: 100vh !important;
}
.index-carousel > .div-img-large{
	background:url("../images/carousel-inic.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.com-carousel > .div-img-large{
	background:url("../images/commercial-2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.res-carousel > .div-img-large{
	background:url("../images/residential-2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.carousel.carousel-slider{
	height: calc(100vh) !important;
}

.carousel-text{
	position: absolute;
	color:white !important;
	width: 100%;
	top: 55%;
	transform: translate(0,-50%);
}
.gradient:after{
	background: linear-gradient(to right,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)) !important; 
	width: 100%;
	height:100%;
	position: absolute;
	content: "";
	top: 0px;
	left: 0px;
	display:block;
}
/* END Carousel */
/* COMMERCIAL AND RESIDENTIAL */
.h-res-com{
	margin:0;
}
.div-res-com{
	margin-top:15px;
}
.res-com{
	position: absolute;
	left:0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 850px;
	min-height: 500px;
	top: -15%;
}

.content-residencial-commercial{
	background-color: white;
	position: relative;
	min-height: 450px;
	width:100%;
	display: block;
}
#res-image{
	background: linear-gradient(to right,rgba(36, 97, 91, 0.6),rgba(2, 36, 97, 0.6)), url("../images/residential.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	min-width:425px !important;
	min-height: 400px;
	background-size: 425px 425px;
	font-size: 0.9rem;
}
#com-image{
	background: linear-gradient(to right,rgba(36, 97, 91, 0.6),rgba(2, 36, 97, 0.6)), url("../images/commercial.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	min-width:425px !important;
	min-height: 400px;
	background-size: 425px 425px;
	font-size: 0.9rem;
}
.residential{
	color:white;
}
.commercial{
	color:white;
}
.text-com-res{
	font-size: 16px;
}
.learn{
	margin:0;
	text-align: right;
}
.learn-com{
	margin-top: 75px;
}
/* END COMMERCIAL AND RESIDENCIAL */
/* SERVICES */
.div-p-aerial{
	min-width: 100%; 
	min-height: 100%; 
	cursor:pointer; 
	position: absolute;
	z-index: 10;
}
.div-p-services{
	min-width: 100%; 
	min-height: 100%; 
	cursor:pointer; 
	position: absolute;
	z-index: 10;
}
.box-text{
	cursor: normal;
}
.grid > .div-p{
	cursor:pointer;
}
.services-text{
	color:white;
	background-color: darkblue;
	background:linear-gradient(to right,rgb(54, 142, 133),rgb(5, 51, 134));
	min-height:400px !important;
	margin-bottom: 0 !important;
}
.text-serv{
	font-size: 25px;
	text-align: center;
	word-wrap: normal;
	margin: auto;
	width: 80%
}
.divider-services{
	position: relative;
}
.img-serv{
	position: relative;
	color:white;
	min-height: 100% !important;
}
.div-img{
	position: relative;
	width: 33.33% !important;
	height: 100% !important;
	overflow: hidden;
}
.div-img img{
	z-index: -1 !important;
	height: 100%;
	width: 100%;
}
.box-text p{
	left: 0;
	right: 0;
	text-align: center; 
	margin-top: 10px; 
}
.box-text{
	position: absolute;
	top: 100%;
	left:0;
	transform: translate(0, -60%);
	-webkit-transform: translate(0, -60%);
	-o-transform: translate(0, -60%); 
	width: 100%;
	height: 100%;
	z-index: 6 !important;
}
.div-img-large{
	position: relative;
	height: 33.33% !important;
	width: 100% !important;
}
.aerial{
	color:white;
	background: url("../images/aerial.jpg");
	background-repeat: no-repeat;
	min-height:500px !important;
	margin-bottom: 0 !important;
	background-size: cover;
	position: relative;
	background-position: center;
}
.aerial2{
	color:white;
	background: url("../images/airplane.jpeg");
	background-repeat: no-repeat;
	min-height:500px !important;
	margin-bottom: 0 !important;
	background-size: cover;
	position: relative;
	background-position: center;
}
.cars{
	color:white;
	background: url("../images/cars.jpeg");
	background-repeat: no-repeat;
	min-height:500px !important;
	margin-bottom: 0 !important;
	background-size: cover;
	position: relative;
	background-position: center;
}
.div-img-large img{

	z-index: -5;
	height: 100%;
	width: 100%;
}
.div-img-large p{
	text-align: center; 
}
.text-aerial2-1{
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translate(0, -50%); 
	-webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
	text-align: center; 
}
.text-aerial2-2{
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translate(0, -50%); 
	-webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
	text-align: center; 
}
.aerial2 h4{
	width: 80%;
	margin:auto;
	bottom:  30%;
	position: absolute;
}
.text-aerial2-2{
	top: 74% !important;
	position: absolute;
}
.grid{
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ 
	display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox; /* TWEENER - IE 10 */ 
	display: -webkit-flex; /* NEW - Chrome */ 
	display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */ 
	flex-wrap:wrap;
	flex-direction:row;
	justify-content:flex-start;
	width: 100% !important;
	margin:0 auto;
}
.flir-ther{
	height: auto !important;
	top: 10% !important;
	left: 10% !important;
}
.text-logo-flir{
	position: absolute;
	font-size: 20px !important;
	left: 10%;
	top: 25% !important;
	text-align: left !important;
	width: 80% !important;
}
.box-text{
	transition:top 1s;
}
.up{
	top:85% !important;
}
.show{
	visibility: visible !important;
	opacity: 1 !important;
}
.box-text-rel{
	position: relative; 
	height: 100%; 
	width: 100%;
}
.this-p-hid{
	padding-right: 30px;
	padding-left: 30px;
	font-size: 20px !important;
	visibility: hidden;
	opacity: 0;
	transition: visibility 1s, opacity 0.5s linear, top 1s;
	text-align: justify !important;
}
.network > .up{
	top: 85% !important;
}
.counter > .up{
	top: 85% !important;
}
.access > .up{
	top: 90% !important;
}
.intercom > .up{
	top: 90% !important;
}
.fire > .up{
	top: 85% !important;
}
.interactive > .up{
	top: 80% !important;
}
.temperature > .up{
	top: 70% !important;
}
.aerial > .box-text > .box-text-rel > .this-p-hid{
	width: 70%;
	margin:auto;
	text-align: center !important;
}
.aerial > .up{
	top: 100% !important;
}
.div-services{
	margin-left: 48% !important;
}
.divider-services{
	background: white !important;
}
.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-row {
    width: auto;
}
.flex-item {
    width: 20px;
    height: 20px;
    margin: 10px;
    line-height: 20px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}
/* END SERVICES */
/* PARTNERS */
.bottom-partner{
	margin-bottom: 60px !important;
}
.re-message{
	margin-top: 0 !important;
	margin-bottom:0 !important;
}
.row-text-partn1{
	margin-top: 200px;
}
.divider-partners{
	background: #6d6e71 !important;
}
.div-parnters{
	margin-left: 46% !important;
}
.div-recommend{
	margin-left: 47% !important;
}
.divider-recommend{
	background: #6d6e71 !important;
}
.partners{
	color:#6d6e71;
	/*background: linear-gradient(to right,rgba(242, 242, 242, 0.85),rgba(242, 242, 242, 0.85));
	background-repeat: no-repeat;
	background-size: 100% 1000px;*/
	
	margin: 0 !important;
	position: relative;
}
.partners{
	background: url("../images/partners.jpg");
	background-repeat: no-repeat;
	min-height:880px !important;
	margin-bottom: 0 !important;
	background-size: cover;
	position: relative;
	background-position: center;
}
.logos{
	z-index: 1 !important;
	width: 10% !important;
	position: absolute;
}
#flir{
	left: 9%;
}
#cdvi{
	left: 29%;
}
#honey{
	bottom: 75%;
	left: 55%;
	width: 12% !important;
}
#inter{
	left:77%;
	width: 12% !important;
}
#dsc{
	bottom:20%;
	left: 19%;
}
#kantech{
	bottom: 20%;
	left:67%;
}
#speco{
	bottom: 20%;
	left:43%;
}
.recommend{
	position: absolute;
	width: 100% !important;
	top: 75%;
	transform: translate(0, -50%); 
	-webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    left: 0;
}
.recommend > .col{
	margin: 20px 0;
}
.part-log-tittle{
	top: 2%;
	position: absolute;
	left: 0 !important;
}
.text-re{
	font-size: 20px;
	word-wrap: normal;
	width: 80%;
	margin: auto;
}
.text-re p.re-message{
	margin-bottom: 0px;
}
.text-re h4.re-customer{
	text-align: right !important;
	margin-top: 0px;
}
.text-re p.re-customer-title{
	text-align: right !important;
	margin: auto;
}
/* END PARTNERS */
/* ABOUT */ 
.about-text{
	color:white;
	background: linear-gradient(to right,rgba(36, 97, 91, 0.6),rgba(2, 36, 97, 0.6)),url("../images/about.png");
	background-repeat: no-repeat;
	min-height:600px !important;
	margin-bottom: 0 !important;
	background-size: cover;
	background-position: center;
}
.subti{
	color:white !important;
}
.text-ab{
	font-size: 20px;
	word-wrap: normal;
	width: 80%;
	margin: auto;
}
.divider-about{
	background: white !important;
}
.div-about{
	margin-left: 48% !important;
}

/* END ABOUT */ 
/* NEWS */
.divider-news{
	background: #6d6e71 !important;
}
.div-news{
	margin-left: 48% !important;
}
.news{
	color:#6d6e71;
	background: linear-gradient(to right,rgba(242, 242, 242, 0.85),rgba(242, 242, 242, 0.85)),url("../images/news.jpg");
	background-repeat: no-repeat;
	min-height:500px !important;
	margin-bottom: 0 !important;
	background-size: cover;
	background-position: center;
	position: relative;
}
.all-news{
	top:11%;
	position: absolute;
}
.logos-news{
	width: 15%;
	position: absolute;
}
#ssn{
	bottom: 5%;
	left:15%;
}
#spt{
	bottom: 0%;
	left:45%;
	height: 56px;
	width: 150px;
}
#tyco{
	bottom: -8%;
	left: 65%;
}
/* END NEWS */
/* SUPPORT */ 
.support-text{
	color:#6d6e71;
	background-color: white;
	min-height:800px !important;
	margin-bottom: 0 !important;
	background-size: 100% 500px;
}
.divider-support{
	background: #6d6e71 !important;
}
#supp-img{
	height: 20%;
}
.text-supp{
	color:#808080;
	font-size: 1.5rem;
	text-align: justify;
	word-wrap: normal;
}
/* END SUPPORT */ 
/* AIRPLANE */ 
.airplane{
	background: url("../images/cars.jpeg");
	background-repeat: no-repeat;
	min-height:500px !important;
	margin-bottom: 0 !important;
	background-size: 100% 100%;
	background-position: center;
}
/* END AIRPLANE */ 
/* ASSOCIATIONS */
.divider-associations{
	background: #6d6e71 !important;
}
.div-assoc{
	margin-left: 47% !important;
}
.associations{
	color:#6d6e71;
	background: linear-gradient(to right,rgba(242, 242, 242, 0.8),rgba(242, 242, 242, 0.8)),url("../images/associations.jpg");
	background-repeat: no-repeat;
	min-height:500px !important;
	margin-bottom: 0 !important;
	background-size: 100% 800px;
}
#canasa{
	margin-top: 22.5px;
	left:25%;
	width: 300px !important;
}
#canada{
	left:60%;
	width: 180px !important;
}
/* END ASSOCIATIONS */
/* CONTACT */ 
.contact-text{
	color:white;
	background: linear-gradient(to right,rgba(56, 169, 158, 0.9),rgba(20, 115, 171, 0.9)),url(../images/contact.jpg);
	background-repeat: no-repeat;
	min-height:800px !important;
	margin-bottom: 0 !important;
	background-size: 100% 800px;
}
.thx{
	font-family: Sans-Serif !important;
	text-align: center;
	margin-top: 90px;
	color:rgb(136, 132, 132);
}
.thx-button{
	margin:auto !important;
	display: block !important;
	width: 20%;
	text-align: center;
	float:none !important;
	background:linear-gradient(to right,rgba(56, 169, 158, 0.9),rgba(20, 115, 171, 0.9));
	color:white !important;
	margin-top: 25px !important;
}
#modal1{
	height: 400px;
}
.divider-contact{
	background: white !important;
	margin-bottom:40px !important;
}
.div-con{
	margin-left: 48% !important;
}
.box{
  border: #solid 10px #000;
  background-color: rgba(255, 255, 255, 0.2);
  width:80%;
  margin-left: auto ;
  margin-right: auto ;
  min-height:470px;
}
.name-email{
	margin-top: 50px;
}
.name-email-row{
	margin-bottom: 0px !important;
}
.message-div{
	margin-top: 0px !important;
}
#message{
	height: 100px;
}
.input-field{
	margin-left: 10px !important;
	margin-right: 10px !important;
	
}
.border-input {
	border: 1px solid white !important;
	border-bottom: 1px solid !important;

}
label{
	color:white !important;
	margin-left: 15px;
	text-align: left;
}
.contact-button{
	margin-left: 45% !important;
}
.contact-button button{
	background-color: #c7c8c9 !important;
	color:#58595b;
}
/* END CONTACT */ 
/* END */ 
.end-text{
	color:white;
	background-color: #2e2e2e;
	min-height:400px !important;
	margin-bottom: 0 !important;
	background-size: 100% 400px;
}
.divider-end{
	background:rgb(136, 132, 132) !important;
	width: 100% !important;
	height: 1px !important;
}
#white-logo{
	max-width: 150px;
}
.text-end{
	color:rgb(136, 132, 132);
	font-size:13px;
	position: relative;
}
.left-end{
	margin-left:90px !important;
	width: 100% !important;
}
.contact-us{
	margin-top: 0;
	margin-left: 100px;
}
.img-cont{
	width: 18px; 
	margin-right: 10px;
	margin-left: 100px !important;
}
.text-cont{
	margin:0 !important;
	position: relative;
}
.homeend-a:hover{
	cursor:pointer;
	background-color: #383535;
}
.resend-a:hover{
	cursor:pointer;
	background-color: #383535;
}
.comend-a:hover{
	cursor:pointer;
	background-color: #383535;
}
.aboutend-a:hover{
	cursor:pointer;
	background-color: #383535;
}
.supportend-a:hover{
	cursor:pointer;
	background-color: #383535;
}
.contactend-a:hover{
	cursor:pointer;
	background-color: #383535;
}
.end-rows{
	padding-top:100px !important;
}
/* END */ 
/* RESIDENTIAL */
#residential-div{
	color:rgb(136, 132, 132);
	background: white;
	min-height:600px !important;
	margin-bottom: 0 !important;
	background-size: cover;
	background-position: center;
}
.row-promo
{
	width: 80%; 
	margin:auto;
}
.box-promo{
	color:white !important;
	width: 250px; 
	margin:50px;
	height: 400px; 
	background: linear-gradient(to right,rgba(56, 169, 158, 0.9),rgba(20, 115, 171, 0.9)); 
	display:inline-block;
	padding:20px;
	vertical-align:top;
}
.box-promo > h5{
	margin-top: 20px;
}
.box-promo > h3{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.box-promo > div > .row{
	margin-bottom: 0 !important;
}
.box-promo > p{
	margin-top: 10px !important;
}
.text-res{
	font-size: 20px;
	word-wrap: normal;
	width: 80%;
	margin: auto;
}
.subti-residential{
	color:rgb(136, 132, 132);
}
.divider-residential{
	background: rgb(136, 132, 132) !important;
}
.divider-residential-2{
	background: white !important;
}
.div-residential-2{
	margin-left: 35% !important;
}
.div-residential{
	margin-left: 47% !important;
}
.button-residential{
	background-color: #01008a !important;
}
.box-title{
	height: 205px; 
	overflow: auto;
}
.small-final{
	margin-bottom: 60px;
	margin-top: 10px;
}
.res-title{
	margin-top: 60px;
}
/* END RESIDENTIAL*/
::-webkit-input-placeholder {
   color: white !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: white !important;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white !important;  
}

:-ms-input-placeholder {  
   color: white !important;  
}
input[type=text]{
	padding-left: 20px !important; 
	-webkit-box-sizing: border-box !important;
     -moz-box-sizing: border-box !important;
          box-sizing: border-box !important;
}
input[type=email]{
	padding-left: 20px !important; 
	-webkit-box-sizing: border-box !important;
     -moz-box-sizing: border-box !important;
          box-sizing: border-box !important;
}
textarea{
	min-height:  200px !important;
	max-height:  200px !important;
	padding-left: 20px !important; 
    overflow: auto !important;
	-webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}
footer{
	background-color: #252525;
	color: rgb(136, 132, 132);
	width: 100%;
	font-size: 12px;
}
footer .row{
	margin-bottom: 0px !important;
	
}
.footer{
	margin-left: 90px !important;
	padding-left:0!important;
}
.logos-social{
	margin-right: 110px;
}
.logos-social-a{
	text-decoration: none;
	font-size: 30px !important;
	margin-right: 8px; 
	color:rgb(136, 132, 132);
}
#divider{
	height: 3px;
	width: 80px;
	background: #FFF;
	border-radius: 15%;
	margin-bottom: 15px;
}
.menu-header li,
    div.menu li {
    float: left;
    position: relative;
    left: -15%;
}
 
.menu-header ul ul {
    display: none;
    position: absolute;
    top: 38px;
    left: 0;
    float: left;
    width: 180px;
    z-index: 99999;
}
.menu-header a {
    color: gray;
    display: block;
    line-height: 41px;
    padding: 0 10px;
    text-decoration: none;
}
.menu-header ul li:hover > ul {
    display: block;
}
.menu-header li:hover > a,
.menu-header ul ul :hover > a {
    background: gray;
    color:gray;
}
.menu-header ul ul a {
    background: white;
    line-height: 1em;
    padding: 10px;
    width: 160px;
    height: auto;
}
.menu-header {
    display: block;
    float: right;
    margin: 0 auto;
    width: 100%;
    height: 60px;
    position: relative;
    margin-top:5px !important;
}
nav ul a{
	font-size:17px !important;
}
#support h2{
	text-align: center;
}
#support .flex-centered{
	display: flex;
	justify-content: center;
}
@media only screen and (min-width: 1025px){
	#normal{
		display: block !important;
	}
}
@media only screen and (max-width: 994px){
	#small{
		display:block !important;
	}
	.logo-top{
		left:-20% !important;
		margin: 0 !important; 
		position: relative;
	}
}
@media only screen and (max-width: 1024px){
	#small{
		display:block !important;
	}
	.menu-drop{
		background-image: url('../images/drop.png');
		min-height: 50px;
		min-width: 30px;
		background-repeat: no-repeat;
		background-position: left;
		background-size:contain;
		background-color: white !important;
		padding-left: 5px;
	}
}
@media only screen and (max-width: 1440px){
	.this-p{
		font-size: 20px !important; 
	}
	.this-p-hid{
		font-size: 17px !important;
	}
}
@media only screen and (max-width: 1366px){
	.this-p{
		font-size: 20px !important; 
	}
	.this-p-hid{
		font-size: 17px !important;
	}
	#logo{
		width: 120px !important;
		height: 40px !important;
		transform: translate(0, 20%); 
	}
	.contact-us{
		margin-top: 0;
		margin-right: 65px !important;
	}
	.text-cont{
		display: inline !important;
		margin:0 !important;
		margin-right: 65px !important;
		position: relative;
	}
	.logos-social{
		margin-right: 80px;
	}
	.img-cont{
		width: 18px; 
		margin-right: 10px;
	}
	.logos-news{
		width: 200px;
	}
	#flir{
		left: 7%;
	}
	#cdvi{
		left: 29%;
	}
	#inter{
		left:77%;
	}
	#dsc{
		left: 18%;
	}
	#canasa{
		left:22%;
		width:250px !important;
	}
	#canada{
		left:60%;
		width: 130px !important;
	}
	.logos{
		width: 12% !important;
	}
	.phone{
		left:8% !important;
		width: 22.22% !important;
	}
	.logo-top{
		position: relative;
		margin:0 !important;
	}
	#ssn{
		left:15%;
	}
	#spt{
		left:45%;
		height: 56px;
		width: 150px;
	}
	#tyco{
		left: 75%;
	}
	#honey{
		width: 13% !important;
		bottom: 77%;
	}
	#kantech{
		width: 13% !important;
		bottom: 21%;
		left: 69%;
	}
	#speco{
		left: 44%;
	}
	#inter{
		width: 16% !important;
	}
	.div-con{
		margin-left: 47% !important;
	}
	.div-news{
		margin-left: 47% !important;
	}
	.div-about{
		margin-left: 47% !important;
	}
	.div-parnters{
		margin-left: 45.5% !important;
	}
	.div-recommend{
		margin-left: 47% !important;
	}
	#supp-img{
		width: 95%;
	}
	.img-cont{
		margin-left: 100px !important;
	}
	.text-cont{
		margin:0 !important;
		position: relative;
	}
	.text-cont img{
		margin-left: -28px !important;
	}
	.make-home{
		width: 60% !important;
		left: 46.5%;
	}
	.part-log-tittle{
		top: 2%;
	}
	.recommend{
		top: 72%;
	}
	.row-text-partn1{
		margin-top: 0px;
	}
}
@media only screen and (max-width: 1280px){
	.this-p{
		font-size: 16px !important; 
	}
	.this-p-hid{
		font-size: 14px !important;
	}
}
@media only screen and (max-device-width: 1080px){
	.row-text-partn1{
		margin-top: 0px;
	}
	#small{
		display:block !important;
	}
	.text{
		font-size: 35px !important;
	}
	.car h1{
		font-size: 40px;
	}
	.make-home{
		width: 70% !important;
		left: 42%;
	}
	.make-home-div h4{
		font-size: 35px;
	}
	.text-com-res{
		font-size: 35px;
	}
	#rescom{
		min-height: 900px;
	}
	#res-image{
		margin-left:19% !important;
		margin-right: :19% !important;
	}
	#com-image{
		margin-left:19% !important;
		margin-right: :19% !important;
	}
	.text-supp{
		font-size: 1.6rem;
	}
	.text-ab{
		font-size: 35px;
		text-align: justify;
	}
	.div-img{
		width: 100% !important;
	}
	.div-img-large p{
		font-size: 50px;
	}
	.part-log-tittle{
		top: 5% !important;
	}
	.logos{
		width: 20%;
	}
	#flir{
		bottom: 59%;
		left: 5%;
	}
	#cdvi{
		bottom: 62%;
		left: 39%;
	}
	#honey{
		bottom: 65%;
		width: 19% !important;
		left: 73%;
	}
	#inter{
		width: 23% !important;
		bottom: -8%;
		left: 71%;
	}
	#dsc{
		bottom: -5%;
		left: 5%;
	}
	#kantech{
		bottom: -3%;
		width: 21% !important;
		left: 39%;
	}
	.text-re{
		font-size:35px;
	}
	.div-partn{
		height: 1500px !important;
	}
	#about{
		min-height: 1000px !important;
		background-size: cover;
	}
	#about div h1{
		font-size: 4.2rem;
	}
	.subti{
		font-size: 40px !important;
	}
	.support-text{
		background-size: cover;
		min-height: 1700px !important;
	}
	.text-supp{
		font-size: 35px;
	}
	.text-supp-div{
		min-width: 90%;
		margin: 0 !important;
		margin-left: 50px !important;
		margin-right:  50px !important;
		margin-top: 100px !important;
	}
	.supp-img-div{
		width: 100% !important;
		margin: 0 !important;
	}
	.supp-img-div img{
		width: 50% !important;
		margin: auto;
	}
	#support{
		display: block;
	}
	.services-text{
		background-size: cover;
		min-height: 800px !important;
	}
	.text-serv{
		font-size: 40px !important;
		text-align: justify;
		margin: auto;
	}
	.aerial{
		min-height: 800px !important;
	}
	.aerial2{
		min-height: 800px !important;
	}
	.cars{
		min-height: 400px !important;
	}
	.recommend{
		top: 68% !important;
	}
	.text-re p{
		margin-bottom: 0 !important;
	}
	.text-re h4{
		margin-top: 0 !important;
	}
	#rescom{
		min-height: 1650px;
		margin-left: 0;
	}
	#res-image{
		min-width: 80% !important;
		min-height: 800px;
		background-size: cover;
		background-position: center;
		text-align: justify !important;
	}
	#com-image{
		min-width: 80% !important;
		min-height: 800px;
		background-size: cover;
		background-position: center;
		text-align: justify !important;
	}
	.res-com{
		top: -8%;
		margin: 0 !important;
	}
	.h-res-com{
		margin-top: 40px;
	}
	#ssn{
		left:5%;
	}
	#spt{
		left:39%;
		height: 56px;
		width: 150px;
	}
	#tyco{
		left: 71%;
	}
	.logos-news{
		width: 25% !important;
	}
	.name-email{
		margin-left: 1% !important;
		width: 99% !important;
		margin-top: 0 !important;
		font-size: 35px !important;
	}
	.name-box{
		color: white !important;
		margin-top: 3% !important;
		height: 100px !important;
	}
	.email-box{
		color: white !important;
		margin-left: 1% !important;
		height: 100px !important;
	}
	.message-box{
		color: white !important;
		margin-left: 1% !important;
		width: 99% !important;
		margin-top: 2% !important;
	}
	.box{
		width: 95% !important;
		min-height: 600px !important;
	}
	#message{
		max-height: 200px;
		overflow: auto;
	}
	input{
		font-size: 1.7rem !important;
	}
	input[type=text]{
		color: white !important;
		height: 70px !important;
	}
	input[type=email]{
		color: white !important;
		height: 70px !important;
	}
	textarea{
		color: white !important;
		font-size: 1.7rem !important;

	}
	.border-input{
		border: 2px solid white !important;
	}
	nav{
		height: 120px !important;
	}
	.logo-top{
		left: -23% !important;
	}
	#logo{
		width: 220px !important;
		height: 75px !important;
		margin-top: 6px !important;
	}
	.carousel-test{
		margin-top: 120px !important;
		position: relative;
	}
	#menu-home-2{
		margin-top: 25px !important;
	}
	#menu-other-2{
		margin-top: 25px !important;
	}
	#menu-residential-small{
		margin-top: 25px !important;
	}
	.text-com-res{
		padding-left: 20px;
		padding-right:  20px;
	}
	.h-res-com{
		padding-left: 20px;
		padding-right: 20px;
	}
	.div-res-com{
		margin-left: 20px !important;
	}
	.text-2-part{
		margin-top:20px !important;
	}
	.text-re h4{
		font-size: 2.92rem;
		
	}
	.aerial2 h4{
		top: 58%;
		position: absolute;
		width: 100%;
		font-size: 2.92rem;
		padding-right: 110px;
	}
	.text-aerial2-1{
		padding-left: 20px;
		padding-right: 20px;
		top: 40% !important;
		font-size: 35px !important;
	}
	.text-aerial2-2{
		font-size: 35px !important;
		padding-left: 20px;
		padding-right: 20px;
		top: 68% !important;
	}
	.menu-item{
		width: 100% !important;
		text-align: center;
		height: 15%; !important;
		background-color: white;
	}
	.menu-item a{
		padding-top: 15px !important;
		font-size: 40px !important;
		width: 100% !important;
	}
	.sub-menu{
		left: -700px !important;
		width: 850px !important;
		top: 90px !important;
		height: 800px;
	}
	.flir-ther{
		top: 8% !important; 
	}
	.logos{
		width: 16% !important;
	}
	.end-rows{
		width: 100% !important;
	}
	.mobile-end{
		display: block !important;
	}
	.pc-end{
		display:none;
	}
	.end-rows{
		margin:0 !important;
	}
	.text-cont{
		font-size: 35px !important;
	}
	.text-end{
		font-size: 35px !important;
	}
	.end-rows div div h5{
		font-size: 45px !important;

	}
	#white-logo{
		max-width: 200px;
		display: block;
		margin:auto !important;
		margin-bottom:50px !important;
	}

	.text-menu-end div{
		text-align: center;
	}
	.contact-us{
		text-align: center;
	}
	.logo-div-end{
		margin-left:0 !important;
	}
	.div-white-logo{
		margin-left:0 !important;
	}
	.img-cont{
		width: 40px;
		margin-right: 50px;
	}
	.logos-link-ubic{
		width: 800px;
		height: 90px;
		left: 10%;
	}
	.div-partn{
		display: none !important;
	}
	#speco{
		width: 25% !important;
		bottom: -62%;
		left: 36%;
	}
	#modal1{
		margin-top: 350px !important;
	}
	.thx{
		font-size: 45px !important;

	}
	.thx-button{
		font-size: 25px;
		width: 30%;
		height: 48px !important;
		line-height: 46px !important;
	}
	.partners{
		min-height:1600px !important;
	}
	.text-res{
		font-size: 40px;
	}
	#residential-div > div > h2{
		font-size: 5.56rem !important;
	}
	.div-residential{
		margin-left: 46% !important;
	}
	.box-promo{
		width: 80%;
		height: 1030px;
		padding: 100px;
	}
	.box-title{
		height: 500px;
	}
	.box-title > h5{
		font-size: 3.64rem;
	}
	.box-title > p{
		font-size: 40px;
	}
	.div-residential-2{
		margin-left: 42% !important;
	}
	.box-promo > h3{
		font-size:5.92rem;
	}
	.box-promo > p{
		font-size:40px;
	}
	.box-promo > button{
		font-size:30px;
		height: 60px;
	}
	.promo-1{
		padding-top: 20px;
		height: 210px;
	}
	.promo-2{
		padding-top: 150px;
	}
	.res-title{
		margin-top: 90px;
	}
	.small-final{
		margin-bottom: 90px;
		margin-top: 40px;
	}
	.box-promo-1{
		height: 700px;
	}
	.promo-1 > h5{
		margin:0;
	}
	.div-1{
		margin-top: 30px;
	}
	.box-promo-2{
		height: 800px;
	}
	.promo-2{
		height: 330px;
		padding-top: 0;
	}
	.res-text-inic{
		margin-bottom: 40px;
	}
	.button-residential{
		font-size: 40px;
		width: 220px;
		height: 80px !important;
	}
	.this-p{
		font-size: 50px !important;
	}
	.this-p-hid{
		font-size: 38px !important;
	}
	.access  > .box-text > p{
		top:40%;
	}
	.up{
		top: 80% !important;
	}
	.temperature > .box-text > .up{
		top: 10% !important;
	}
	.aerial > .box-text > .up{
		top: 35% !important;
	}
	.text-logo-flir{
		font-size: 30px !important;
		top: 12% !important;
	}
	.res-text-inic{
		text-align: justify;
	}
	.promo-1-c{
		height: 290px !important;
	}
	.box-promo-1-c{
		height: 800px;
	}
	.network > .up{
		top: 80% !important;
	}
	.interactive > .up{
		top: 85% !important;
	}
	.interactive > .box-text{
		transform: translate(0, -70%);
		-webkit-transform: translate(0, -70%);
		-o-transform: translate(0, -70%); 
	}
	.counter > .up{
		top: 75% !important;
	}
	.fire > .up{
		top: 80% !important;
	}
	.temperature > .up{
		top: 75% !important;
	}
	.temperature > .box-text{
		transform: translate(0, -70%);
		-webkit-transform: translate(0, -70%);
		-o-transform: translate(0, -70%); 
	}
	.aerial > .box-text > .box-text-rel > .this-p-hid{
		width: 100%;
		text-align: justify !important;
	}
	.aerial > .box-text > .box-text-rel > .this-p{
		width: 100%;
		text-align: center !important;
	}
	.aerial > .up{
		top: 85% !important;
	}
	.learn{
		font-size: 30px !important;
	}
	.logos-social-a{
		font-size: 70px !important;
	}
	.footer > p{
		width: 100%;
		font-size: 30px !important;
	}
	.carousel-test > .div-img-large{
		padding-top:65px; 
		margin-top:-65px;
		min-height: 900px !important;
	}
	.carousel-text{
		position: absolute;
		color:white !important;
		width: 100%;
		top: 50%;
		transform: translate(0,-50%);
	}
}
