*{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}
html, body{
	height: 100%;
}
body{
	margin: 0;
	padding:0;
	background-size: cover;
	background-repeat: no-repeat;

	display: flex;
	flex-direction: column;
	align-items: center;

	position: relative;
}
.container{
	min-width: 100% !important;
}
.row{
	margin-right: 0 !important;
}
/* NAVBAR */
.marg{
	margin-right: 5% !important;
}
nav{
	height: 150px !important;
	background-color: white !important; 
	color:black;
	position: fixed !important;
}
nav ul a{
	color:black !important;
}
p{
	width: 100%;
}
#logo{
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 150px;
	height: 50px;
}
.container-nav{
	width: 100% !important;
}
.row-info{
	background-color:#383434;
}
/* NAVBAR END */
/* Carousel */
.carousel{
	min-height: 600px !important;
	max-height: 900px !important;
	position: relative !important; 
}
.carousel-text{
	position: absolute;
	color:white !important;
	left: 30%;
}
.gradient:after{
	background: linear-gradient(to right,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)) !important; 
	width: 100%;
	height:100%;
	position: absolute;
	content: "";
	top: 0px;
	left: 0px;
	display:block;
}
/* END Carousel */
/* COMMERCIAL AND RESIDENCIAL */
.res-com{
	position: absolute;
	left:0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	min-height: 500px;
	top: -15%;
}

.content-residencial-commercial{
	background-color: white;
	position: relative;
	min-height: 450px;
	width:100%;
	display: block;
}
#res-image{
	background: linear-gradient(to right,rgba(36, 97, 91, 0.6),rgba(2, 36, 97, 0.6)), url("../images/residential.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	min-width:500px !important;
	min-height: 400px;
	background-size: 500px 400px;
}
#com-image{
	background: linear-gradient(to right,rgba(36, 97, 91, 0.6),rgba(2, 36, 97, 0.6)), url("../images/commercial.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	min-width:500px !important;
	min-height: 400px;
	background-size: 500px 400px;
}
.residential{
	color:white;
}
.commercial{
	color:white;
}
/* END COMMERCIAL AND RESIDENCIAL */
/* SERVICES */
.services-text{
	color:white;
	background-color: darkblue;
	background:linear-gradient(to right,rgba(36, 97, 91, 1),rgb(2, 36, 97));
	min-height:300px !important;
	margin-bottom: 0 !important;
}
.divider-services{
	left:-15%;
	position: relative;
}
.burglar{
	color:white;
	/*background-image: url("../images/burglar-system.jpg");*/
	background:  linear-gradient(to right,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url("../images/burglar-system.jpg");
	background-repeat: no-repeat;
	min-height: 300px !important;
	background-size: 100% 300px, cover;
}
.network{
	color:white;
	background: linear-gradient(to right,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("../images/network.jpg");
	background-repeat: no-repeat;
	min-height: 300px !important;
	background-size: 100% 300px;
}
.interactive{
	color:white;
	background: linear-gradient(to right,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("../images/interactive.jpg");
	background-repeat: no-repeat;
	min-height: 300px !important;
	background-size: 100% 300px;
}
.counter{
	color:white;
	background: linear-gradient(to right,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("../images/counter.jpg");
	background-repeat: no-repeat;
	min-height: 300px !important;
	background-size: 100% 600px;
	background-position: center; 
}
.audio{
	color:white;
	background: linear-gradient(to right,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("../images/audio.jpg");
	background-repeat: no-repeat;
	min-height: 300px !important;
	background-size: 100% 300px;
}
.access{
	color:white;
	background: linear-gradient(to right,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("../images/access.jpg");
	background-repeat: no-repeat;
	min-height: 300px !important;
	background-size: 100% 300px;
}
.fire{
	color:white;
	background: linear-gradient(to right,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("../images/fire.jpg");
	background-repeat: no-repeat;
	min-height: 300px !important;
	background-size: 100% 300px;
}
.aerial{
	color:white;
	background: linear-gradient(to right,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("../images/aerial.jpg");
	background-repeat: no-repeat;
	min-height: 300px !important;
	background-size: 100% 600px;
	background-position: center; 
}
.temperature{
	color:white;
	background: linear-gradient(to right,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("../images/temperature.jpg");
	background-repeat: no-repeat;
	min-height: 300px !important;
	background-size: 100% 300px;
}
.intercom{
	color:white;
	background: linear-gradient(to right,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("../images/intercom.jpg");
	background-repeat: no-repeat;
	min-height: 300px !important;
	background-size: 100% 300px;
}
.enterphone{
	color:white;
	background: linear-gradient(to right,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("../images/enterphone.jpg");
	background-repeat: no-repeat;
	min-height: 300px !important;
	background-size: 100% 300px;
}
/* END SERVICES */
/* PARTNERS */
.divider-partners{
	background: black !important;
}
.partners{
	color:black;
	background: linear-gradient(to right,rgba(242, 242, 242, 0.6),rgba(242, 242, 242, 0.6)),url("../images/partners.jpg");
	background-repeat: no-repeat;
	min-height:384px !important;
	max-height:384px !important;
	margin-bottom: 0 !important;
	background-size: 100% 384px;
}
.logos{
	width: 8%;
	position: absolute;
}
#flir{
	left:15%;
}
#cdvi{
	left:35%;
}
#honey{
	left: 55%;
}
#inter{
	left: 75%;
}
#dsc{
	bottom:50%;
	left:35%;
}
#kantech{
	bottom: 50%;
	left:55%;
}
/* END PARTNERS */
/* ABOUT */ 
.about-text{
	color:white;
	background: url("../images/background.jpg");
	background-repeat: no-repeat;
	min-height:500px !important;
	margin-bottom: 0 !important;
	background-size: 100% 500px;
}
.divider-about{
	background: white !important;
}
.div-about{
	margin-left: 48% !important;
}
#canasa{
	left:35%;
}
#canada{
	left:55%;
}
/* END ABOUT */ 
/* NEWS */
.divider-news{
	background: black !important;
}
.div-news{
	margin-left: 48% !important;
}
.news{
	color:black;
	background: linear-gradient(to right,rgba(242, 242, 242, 0.6),rgba(242, 242, 242, 0.6)),url("../images/news.jpg");
	background-repeat: no-repeat;
	min-height:300px !important;
	max-height:384px !important;
	margin-bottom: 0 !important;
	background-size: 100% 600px;
}
.logos{
	width: 8%;
	position: absolute;
}
#bses{
	left:25%;
}
#tyco{
	left:45%;
}
#ssn{
	left: 65%;
}
/* END NEWS */
/* SUPPORT */ 
.support-text{
	color:black;
	background-color: white;
	min-height:500px !important;
	margin-bottom: 0 !important;
	background-size: 100% 500px;
}
.divider-support{
	background: black !important;
}
#supp-img{
	max-height: 500px;
}
/* END SUPPORT */ 
/* AIRPLANE */ 
.airplane{
	background: linear-gradient(to right,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url("../images/airplane.jpeg");
	background-repeat: no-repeat;
	min-height:500px !important;
	margin-bottom: 0 !important;
	background-size: 100% 1146px;
	background-position: center;
}
/* END AIRPLANE */ 
/* ASSOCIATIONS */
.divider-associations{
	background: black !important;
}
.div-assoc{
	margin-left: 47% !important;
}
.associations{
	color:black;
	background: linear-gradient(to right,rgba(242, 242, 242, 0.6),rgba(242, 242, 242, 0.6)),url("../images/associations.jpg");
	background-repeat: no-repeat;
	min-height:300px !important;
	max-height:384px !important;
	margin-bottom: 0 !important;
	background-size: 100% 600px;
}
.logos{
	width: 8%;
	position: absolute;
}
#bses{
	left:25%;
}
#tyco{
	left:45%;
}
#ssn{
	left: 65%;
}
/* END ASSOCIATIONS */
/* CONTACT */ 
.contact-text{
	color:white;
	background: linear-gradient(to right,rgba(36, 97, 91, 0.8),rgba(12, 76, 113, 0.8)),url(../images/contact.jpg);
	background-repeat: no-repeat;
	min-height:500px !important;
	margin-bottom: 0 !important;
	background-size: 100% 500px;
}
.divider-contact{
	background: white !important;
}
.div-con{
	margin-left: 47% !important;
}
.box{
  border: #solid 10px #000;
  background-color: rgba(29, 117, 132, 0.74);
  width:80%;
  margin-left: auto ;
  margin-right: auto ;
  min-height:300px;
}
.input-field{
	margin-left: 10px !important;
	margin-right: 10px !important;
	
}
.border-input {
	border: 1px solid white !important;
	border-bottom: 1px solid !important;

}
label{
	color:white !important;
}
.contact-button{
	margin-left: 45% !important;
}
.contact-button button{
	background-color: gray !important;
}
/* END CONTACT */ 
/* END */ 
.end-text{
	color:white;
	background-color: #232121;
	min-height:300px !important;
	margin-bottom: 0 !important;
	background-size: 100% 300px;
}
.divider-end{
	background: white !important;
	width: 100% !important;
	height: 1px !important;
}
#white-logo{
	max-width: 300px;
}
/* END */ 
footer{
	background-color: #383434;
	color: white;
	width: 100%;
}
#message{
	text-align: center;
}

#divider{
	height: 3px;
	width: 80px;
	background: #FFF;
	border-radius: 15%;
	margin-bottom: 15px;
}

#contact{
	text-align: center;
}
#contact > *{
	margin: 6px 0;
}
#copyright{
	margin: 0 auto;
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 12px;
}
@media only screen and (max-width: 768px){
	#logo{
		width: 300px;
		height: 100px;
	}
}